/* *{
  box-sizing: border-box;
} */
body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(117, 111, 109);
}
#mainBoard{
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blueviolet;
  
  
}

#blackWhite {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  width: 150px;
  text-align: center;
}

#pickColor{
  background-color: aquamarine;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  width: 150px;
  text-align: center;
  
}

#randomColors{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  width: 150px;
  text-align: center;
  color: white;
  border-radius: 6px;
 
}

#flexButtons{
  display: flex;
  flex-direction: column;
}

#inputForm{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  
}

#inputForm button{
  width: 150px;
  border-radius: 6px;
  background-color: aquamarine;
  margin-bottom: 5px;
}

#inputData{
  display: block;
  flex-direction: column;
  justify-content: space-around;
 
}