*{
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainBoard{
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blueviolet;
  margin-top: 20px;
}

